{# Этот блок здесь исключительно из-за невозможности вставить в label чекбокса ссылку #}

{% block checkbox_widget -%}
    <div class="form-group mt-3">
        <div class="custom-checkbox custom-control">
            <input type="checkbox"
                   name="register[termsAccepted]"
                   id="register_termsAccepted"
                   class="custom-control-input {% if errors|length > 0 -%}is-invalid{%- endif -%}"
                   {% if form.vars.checked -%}checked="checked"{% endif %}
            >
            <label for="register_termsAccepted" class="custom-control-label">
                Я даю согласие на <a href="{{ path('user_privacy_policy') }}">обработку своих персональных данных</a>
            </label>
        </div>
        {%- if errors|length > 0 -%}
            <div id="{{ id }}_errors" class="mb-2">
                {{- form_errors(form) -}}
            </div>
        {%- endif -%}
    </div>
{%- endblock checkbox_widget %}