<div class="row mb-4">
    <div class="col-md-10 d-flex align-items-center justify-content-start">
        <h1>{{ title }}</h1>
    </div>
    <div class="col-md-2 d-flex align-items-center justify-content-end">
        <div class="dropdown create">
            <button id="{{ id }}" class="btn btn-sm btn-default" type="button">
                <i class="fas fa-plus"></i> Добавить
            </button>
        </div>
    </div>
</div>