@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic&subset=cyrillic');

@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap/scss/bootstrap";
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';

@import "admin-theme";



/* ========================================================================
   Custom styles
 ========================================================================== */

html {
  direction: ltr;
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  font-size: 16px;
}

html, body {
  height: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #656565;
  font-size: 0.875rem;
}

.text-thin {
  font-weight: 100 !important;
}

.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
}
.wrapper .aside-container {
  position: absolute;
  width: 220px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 116;
  backface-visibility: hidden;
  background-color: #fff;
}
.wrapper .aside-container .aside-inner {
  padding-top: 55px;
  height: 100%;
  width: 220px;
  overflow: hidden;
}
.wrapper .section-container {
  position: relative;
  height: 100%;
  margin-left: 0;
  z-index: 111;
  background-color: #f5f7fa;
  margin-bottom: 60px !important;
}
.wrapper .footer-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  border-top: 1px solid #e4eaec;
  padding: 20px;
  z-index: 109;
  font-size: .875rem;
}
.wrapper .footer-container p {
  margin: 0;
}

.content-wrapper {
  padding: 15px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: -1px;
}

.content-wrapper .content-heading {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  line-height: 1.1;
  color: #929292;
  margin: -15px;
  margin-bottom: 20px;
  padding: 15px;
  font-weight: normal;
  background-color: #fafbfc;
  border-bottom: 1px solid #cfdbe2;
}

.content-wrapper .content-heading small {
  display: block;
  font-size: 12px;
  color: #909FA7;
}
.content-wrapper .container,
.content-wrapper .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 768px) {
  .content-wrapper {
    padding: 20px;
  }
  .content-wrapper .content-heading {
    margin: -20px;
    margin-bottom: 20px;
    padding: 20px;
  }
  .content-wrapper .content-heading button,
  .content-wrapper .content-heading .btn {
    margin: 0;
  }
}

@media (min-width: 768px) {
  body {
    min-height: 100%;
  }

  .wrapper .section-container,
  .wrapper .footer-container {
    margin-left: 220px;
  }

  .wrapper .section-container.has-sidebar-right {
    margin-right: 240px;
  }

  .wrapper .section-container.has-sidebar-right + .offsidebar {
    z-index: 1;
  }
}




@media (max-width: 767.98px) { // исчезает aside-container
  .wrapper .aside-container {
    margin-left: -220px;
  }
  .aside-toggled .wrapper .section-container,
  .aside-toggled .wrapper .footer-container {
    margin-left: 220px;
  }
  .aside-toggled .wrapper .aside-container {
    margin-left: 0;
  }
  .csstransforms3d .wrapper {
    backface-visibility: hidden;
  }
  .csstransforms3d .wrapper .section-container,
  .csstransforms3d .wrapper .footer-container {
    margin-left: 0;
    transform: translate3d(0, 0, 0);
    transition: transform .3s ease;
  }
  .csstransforms3d .wrapper .aside-container {
    margin-left: 0;
    transform: translate3d(-220px, 0, 0);
    transition: transform .3s ease;
  }
  .csstransforms3d .aside-toggled .wrapper .section-container,
  .csstransforms3d .aside-toggled .wrapper .footer-container {
    transform: translate3d(220px, 0, 0);
  }
  .csstransforms3d .aside-toggled .wrapper .aside-container {
    transform: translate3d(0, 0, 0);
  }
}


/* ========================================================================
   Component: layout-animation.less
 ========================================================================== */
.wrapper .aside-container {
  transition: width .2s cubic-bezier(0.35, 0, 0.25, 1), translate .2s cubic-bezier(0.35, 0, 0.25, 1);
}


.aside-inner,
.navbar-header,
.sidebar > .sidebar-nav > li {
  transition: width 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}

.wrapper .section-container {
  transition: margin-left 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}

.sidebar > .sidebar-nav .badge {
  animation: fadeInRight 1s;
  animation-fill-mode: both;
}

.aside-collapsed .sidebar > .sidebar-nav .badge,
.aside-collapsed-text .sidebar > .sidebar-nav .badge {
  animation: fadeIn 1s;
}

.sidebar .sidebar-nav > li > a {
  animation: fadeInLeft .5s;
}

.sidebar > .sidebar-nav > .nav-heading,
.sidebar > .sidebar-nav > li > a > span,
.navbar-brand .brand-logo {
  animation: fadeIn 1s;
}

.sidebar li > a,
.sidebar li > .nav-item,
.sidebar > .sidebar-nav > .nav-heading {
  white-space: nowrap;
}

.aside-collapsed .user-block-picture,
.aside-collapsed-text .user-block-picture {
  transition: width 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}

.aside-collapsed .user-block,
.aside-collapsed-text .user-block {
  transition: padding 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}

/* ========================================================================
     Component: top-navbar
 ========================================================================== */
.topnavbar {
  -webkit-backface-visibility: hidden;
  /* fixes chrome jump */
  margin-bottom: 0;
  border-radius: 0;
  z-index: 1050;
  border: 0;
  padding: 0;
  min-height: 55px;
  background-color: #23b7e5;
  background-image: linear-gradient(to right, #23b7e5 0%, #51c6ea 100%);
  background-repeat: repeat-x;
}

@media (min-width: 768px) {
  .topnavbar .navbar-header {
    width: 220px;
    text-align: center;
  }

  .topnavbar .navbar-header .navbar-brand {
    width: 100%;
  }
}

.topnavbar {
  position: relative;
}

.topnavbar .navbar-header {
  background-color: transparent;
}

@media (min-width: 768px) {
  .topnavbar .navbar-header {
    background-image: none;
  }
}

.topnavbar .navbar-header {
  position: relative;
  z-index: 11;
  padding-left: 2rem;
}

@media (min-width: 768px) {
  .topnavbar .navbar-header {
    padding-left: 0;
  }
}

.topnavbar .navbar-header .navbar-brand {
  padding: 0;
}

.topnavbar .navbar-header .brand-logo > img,
.topnavbar .navbar-header .brand-logo-collapsed > img {
  margin: 0 auto;
}

.topnavbar .navbar-header .brand-logo {
  display: block;
  padding: 10px 15px;
}

.topnavbar .navbar-header .brand-logo-collapsed {
  display: none;
  padding: 6px 15px;
}

.topnavbar .dropdown {
  position: static;
}

.topnavbar .dropdown .dropdown-menu {
  position: absolute;
  margin-top: 0;
  top: auto;
  left: 0;
  right: 0;
}

@media (min-width: 992px) {
  .topnavbar .dropdown {
    position: relative;
  }

  .topnavbar .dropdown .dropdown-menu {
    top: 54px;
    left: 0;
    right: auto;
  }

  .topnavbar .dropdown .dropdown-menu-right {
    right: 0;
    left: auto;
  }
}

.topnavbar .navbar-nav > .nav-item > .navbar-text {
  color: #fff;
}

.topnavbar .navbar-nav > .nav-item > .nav-link {
  padding: 1.1rem .95rem;
  font-size: .85rem;
}

.topnavbar .navbar-nav > .nav-item > .nav-link,
.topnavbar .navbar-nav > .nav-item.show > .nav-link {
  color: #fff;
}

.topnavbar .navbar-nav > .nav-item > .nav-link:hover, .topnavbar .navbar-nav > .nav-item > .nav-link:focus,
.topnavbar .navbar-nav > .nav-item.show > .nav-link:hover,
.topnavbar .navbar-nav > .nav-item.show > .nav-link:focus {
  color: #117391;
}

.topnavbar .navbar-nav > .nav-item.active > .nav-link, .topnavbar .navbar-nav > .nav-item.active > .nav-link:hover, .topnavbar .navbar-nav > .nav-item.active > .nav-link:focus,
.topnavbar .navbar-nav > .nav-item.show > .nav-link,
.topnavbar .navbar-nav > .nav-item.show > .nav-link:hover,
.topnavbar .navbar-nav > .nav-item.show > .nav-link:focus {
  background-color: transparent;
}

.topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  font-size: 16px;
  line-height: 55px;
  color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  transition: color 0.3s ease;
}




@media (max-width: 767.98px) {
  .topnavbar .navbar-text {
    margin: 10px;
  }
}

.layout-h .topnavbar .navbar-header {
  display: flex;
  width: 100%;
  padding: 0;
  text-align: left;
}

@media (min-width: 992px) {
  .layout-h .topnavbar .navbar-header {
    width: auto;
  }
}

.layout-h .topnavbar .navbar-toggler {
  border: 0;
  margin-left: auto;
}

.layout-h .topnavbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

@media (max-width: 991.98px) {
  .layout-h .topnavbar .dropdown-menu {
    left: 0 !important;
    right: 0 !important;
  }
}

@media (max-width: 767.98px) {
  .sidebar-toggle {
    position: absolute !important;
    top: 2px;
    left: 0;
    z-index: 3001;
  }

  .sidebar-toggle > em {
    color: white;
  }
}

.topnavbar .navbar-form {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 55px;
  z-index: 9001;
  transition: all .3s;
  border: 0;
  border-bottom: 1px solid #e1e2e3;
}

.topnavbar .navbar-form .form-group {
  height: 100%;
  width: 100%;
}

.topnavbar .navbar-form .form-control {
  height: 100%;
  border: 0;
  border-radius: 0;
  width: 100%;
}

.topnavbar .navbar-form.open {
  top: 0;
}

.topnavbar .navbar-form .navbar-form-close {
  position: absolute;
  height: 30px;
  cursor: pointer;
  top: 50%;
  right: 0;
  margin-top: -15px;
  line-height: 30px;
  margin-right: 10px;
  color: #c1c2c3;
  font-size: 1.5em;
  pointer-events: auto;
}

@media (min-width: 768px) {
  .topnavbar .navbar-form {
    left: 220px;
  }
}

@media (min-width: 768px) {
  .topnavbar .navbar-header {
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
  }

  .topnavbar .navbar-nav > a {
    box-shadow: 0 0 0 #000 inset;
    transition: all 0.2s;
  }
}


@media (min-width: 768px) {
  .topnavbar .navbar-nav > .nav-item.show > .nav-link, .topnavbar .navbar-nav > .nav-item.show > .nav-link:hover, .topnavbar .navbar-nav > .nav-item.show > .nav-link:focus {
    box-shadow: 0 -3px 0 #19a5d1 inset;
    transition: all 0.2s;
  }
}


@media (min-width: 768px) {
  .topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
    position: static;
  }
}

@media (min-width: 768px) {
  .aside-collapsed .topnavbar .navbar-header .brand-logo {
    display: none;
  }

  .aside-collapsed .topnavbar .navbar-header .brand-logo-collapsed {
    display: block;
  }

  .aside-collapsed .topnavbar .navbar-header {
    width: 70px;
  }

  .aside-collapsed .topnavbar .navbar-form {
    left: 70px;
  }
}

@media (min-width: 768px) {
  .aside-collapsed-text .topnavbar .navbar-header .brand-logo {
    display: none;
  }

  .aside-collapsed-text .topnavbar .navbar-header .brand-logo-collapsed {
    display: block;
  }

  .aside-collapsed-text .topnavbar .navbar-header {
    width: 90px;
  }

  .aside-collapsed-text .topnavbar .navbar-form {
    left: 90px;
  }
}

/* ========================================================================
     Component: sidebar
 ========================================================================== */
.sidebar {
  height: 100%;
  padding-bottom: 20px;
  background-color: #3a3f51;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.sidebar:after {
  content: "";
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  -webkit-transform: translateZ(0px);
}

.sidebar .nav-heading {
  padding: 12px 15px;
  color: #919DA8;
  font-size: 13px;
  letter-spacing: .035em;
  pointer-events: none;
  cursor: default;
}

.sidebar-nav {
  position: relative;
  font-size: 14px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.sidebar-nav > .nav-heading:first-child {
  padding-top: 20px;
}

.sidebar-nav > li {
  display: block;
  border-left: 3px solid transparent;
  transition: border-left-color 0.4s ease;
}


.sidebar-nav > li > a,
.sidebar-nav > li > .nav-item {
  position: relative;
  display: block;
  padding: 12px 24px;
  color: #515253;
  letter-spacing: .025em;
  font-weight: normal;
  cursor: pointer;
}

.sidebar-nav > li > a:focus, .sidebar-nav > li > a:hover,
.sidebar-nav > li > .nav-item:focus,
.sidebar-nav > li > .nav-item:hover {
  text-decoration: none;
  outline: none;
  color: #23b7e5;
}

.sidebar-nav > li > a > em,
.sidebar-nav > li > .nav-item > em {
  width: 1.8em;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: inherits;
}

.sidebar-nav > li.active,
.sidebar-nav > li.active > a,
.sidebar-nav > li.active > .nav-item,
.sidebar-nav > li.active .sidebar-nav, .sidebar-nav > li.open,
.sidebar-nav > li.open > a,
.sidebar-nav > li.open > .nav-item,
.sidebar-nav > li.open .sidebar-nav {
  background-color: #fcfcfc;
  color: #23b7e5;
}

.sidebar-nav > li.active > .nav-item > em,
.sidebar-nav > li.active > a > em, .sidebar-nav > li.open > .nav-item > em,
.sidebar-nav > li.open > a > em {
  color: #23b7e5;
}

.sidebar-nav > li.active {
  border-left-color: #23b7e5;
}

.sidebar-nav .badge {
  display: block;
}

@media only screen and (min-width: 1025px) {
  .sidebar:not(.show-scrollbar) {
    margin-right: -17px;
    overflow-y: scroll;
  }
}


@media (min-width: 768px) {
  .sidebar > .sidebar-nav .badge {
    margin: 2px 0 0 0;
  }
}

.aside-collapsed .sidebar,
.aside-collapsed-text .sidebar {
  overflow-x: hidden;
}

.aside-collapsed .sidebar > .sidebar-nav .sidebar-nav,
.aside-collapsed .sidebar > .sidebar-nav > .nav-heading,
.aside-collapsed .sidebar > .sidebar-nav > li > .nav-item > span,
.aside-collapsed .sidebar > .sidebar-nav > li > a > span,
.aside-collapsed-text .sidebar > .sidebar-nav .sidebar-nav,
.aside-collapsed-text .sidebar > .sidebar-nav > .nav-heading,
.aside-collapsed-text .sidebar > .sidebar-nav > li > .nav-item > span,
.aside-collapsed-text .sidebar > .sidebar-nav > li > a > span {
  display: none !important;
}

.aside-collapsed .sidebar > .sidebar-nav > li,
.aside-collapsed-text .sidebar > .sidebar-nav > li {
  width: 69px;
}

.aside-collapsed .sidebar > .sidebar-nav > li > a,
.aside-collapsed .sidebar > .sidebar-nav > li > .nav-item,
.aside-collapsed-text .sidebar > .sidebar-nav > li > a,
.aside-collapsed-text .sidebar > .sidebar-nav > li > .nav-item {
  text-indent: -3px;
  padding: 20px 0;
  text-align: center;
}

.aside-collapsed .sidebar > .sidebar-nav > li > a > em,
.aside-collapsed .sidebar > .sidebar-nav > li > .nav-item > em,
.aside-collapsed-text .sidebar > .sidebar-nav > li > a > em,
.aside-collapsed-text .sidebar > .sidebar-nav > li > .nav-item > em {
  font-size: 1.6em;
  width: auto;
}

.aside-collapsed .sidebar > .sidebar-nav > li > a:focus,
.aside-collapsed .sidebar > .sidebar-nav > li > .nav-item:focus,
.aside-collapsed-text .sidebar > .sidebar-nav > li > a:focus,
.aside-collapsed-text .sidebar > .sidebar-nav > li > .nav-item:focus {
  background-color: transparent;
}

.aside-collapsed .sidebar > .sidebar-nav > li > a:focus > em,
.aside-collapsed .sidebar > .sidebar-nav > li > .nav-item:focus > em,
.aside-collapsed-text .sidebar > .sidebar-nav > li > a:focus > em,
.aside-collapsed-text .sidebar > .sidebar-nav > li > .nav-item:focus > em {
  color: inherit;
}

.aside-collapsed .sidebar .sidebar-nav .badge,
.aside-collapsed-text .sidebar .sidebar-nav .badge {
  position: absolute;
  top: 10px;
  right: 5px;
  text-indent: 0;
}

.aside-collapsed-text .sidebar > .sidebar-nav > li > .nav-item > span,
.aside-collapsed-text .sidebar > .sidebar-nav > li > a > span {
  display: block !important;
  font-size: 12px;
}

.aside-collapsed-text .sidebar > .sidebar-nav > li {
  width: 88px;
}

.aside-collapsed-text .sidebar > .sidebar-nav > li > a {
  padding: 14px 0;
}

.aside-collapsed-text .sidebar > .sidebar-nav > li > a > em {
  font-size: 1.4em;
}
