/* =============================================================================
   Fonts, libraries
============================================================================= */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic&subset=cyrillic');

@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap/scss/bootstrap";
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';

@import './angle';

/* =============================================================================
   Custom styles
============================================================================= */

.btn {
  border-radius: 0;
}

.alert {
  border-radius: 0;
}

.pagination > li > a,
.pagination > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #5d9cec;
  border-color: #5d9cec;
}

/* BOOTSTRAP popover */

.popover {
  max-width: 300px;
  border: 0;
  background-color: transparent;
  .arrow {
    visibility: hidden;
  }
}
.popover-body {
  padding: 0.2rem;
}
.img-image-popover {
  cursor: pointer;
}
.text-image-popover {
  cursor: pointer;
  color: #0c73cd;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #0c73cd;
}