/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Raleway|Ubuntu|Roboto&subset=cyrillic');


/* BOOTSTRAP VARIABLES */

/* Navbar color scheme vars */
$bgDefault      : #3F729B; //#e74c3c
$bgHighlight    : darken($bgDefault, 10%); //#c0392b
$colDefault     : #ecf0f1; //#ecf0f1
$colHighlight   : lighten($bgDefault, 35%); //#ffbbbc
$dropDown       : false;

/* Button vars */
$btnDefault     : $bgDefault;


/* CSS LIBRARIES */

@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap/scss/bootstrap";
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';


/* CUSTOM STYLES */

@import "custom";


/* BOOTSTRAP STYLES */

/* Button mixin */
.btn-default {
  @include button-variant($btnDefault, darken($btnDefault, 7.5%), darken($btnDefault, 10%), lighten($btnDefault,5%), lighten($btnDefault, 10%), darken($btnDefault,30%));
}
.btn-outline-default {
  @include button-outline-variant($btnDefault, #222222, lighten($btnDefault,5%), $btnDefault);
}

/* Menu list group */
.list-group-hover .list-group-item:hover:not(.active) {
  background-color: rgba(0, 0, 0, 0.075);
}

/* Pagination */
.page-item.active .page-link {
  background-color: $bgDefault;
  border-color: $bgHighlight;
}
.page-link, .page-link:hover {
  color: #4285F4;
}

/* Modal */
.modal-content  {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

/* Navbar color scheme */
/* https://work.smarchal.com/twbscolor/ */
.navbar {
  background-color: $bgDefault;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault;
    a {
      color: $colHighlight;
      &:hover, &:focus {
        color: $colHighlight; }}}
  .navbar-nav {
    .nav-link {
      color: $colDefault;
      border-radius: .25rem;
      margin: 0 0.25em;
      &:not(.disabled) {
        &:hover, &:focus {
          color: $colHighlight; }}}
    @if ($dropDown) {
      .dropdown-menu {
        background-color: $bgDefault;
        border-color: $bgHighlight;
        .dropdown-item {
          color: $colDefault;
          &:hover, &:focus, &.active {
            color: $colHighlight;
            background-color: $bgHighlight; }}
        .dropdown-divider {
          border-top-color: $bgHighlight; }}}
    .nav-item.active, .nav-item.show {
      .nav-link, .nav-link:hover, .nav-link:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .navbar-toggler-icon {
      color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 575px) {
  .navbar-expend-sm .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 767px) {
  .navbar-expend-md .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 991px) {
  .navbar-expend-lg .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 1199px) {
  .navbar-expend-xl .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
.navbar-expend .navbar-nav .show .dropdown-menu {
  .dropdown-item {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .dropdown-item.active {
    color: $colHighlight;
    background-color: $bgHighlight; }}
