html, body {
  background: #f4f4f4;
  font-size: 14px;
  //font-family: Ubuntu, sans-serif;
}

.pointer {
  cursor: pointer;
}

.btn {
  border-radius: 0;
}

/* Navbar */

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-brand {
  margin-top: -3px;
  padding-top: 0;
  padding-bottom: 0;
}
.nav-link {
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 0 !important;
}
.dropdown-menu {
  margin: 0;
  border-radius: 0;
}

/* Header */

#header {
  margin-bottom: 1rem;
  background: #333333;
  color: #ffffff;
}
#header h1 {
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#header .create {

}

.breadcrumb {
  border-radius: 0;
}

.list-group-item {
  border-radius: 0 !important;
}
.list-group-item.active {
  z-index: 2;
  color: $colDefault;
  background-color: $bgDefault;
  border-color: $bgDefault;
}






