body {
  background: #f4f4f4;
}

.navbar {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar .navbar-nav .nav-link {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0 !important;
}




