body {
  background: #f4f4f4;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-brand {
  margin-top: -3px;
  padding-top: 0;
  padding-bottom: 0;
}
.nav-link {
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 0 !important;
}




