{% extends 'admin/layout/base_admin.html.twig' %}

{% block title %}Художники{% endblock %}

{% block body %}
    {{ include('admin/layout/_header_block.html.twig', {'title': 'Подтипы', 'id': 'subtype_new'}) }}

    <table class="table table-hover datatable">
        <thead>
            <tr>
                <th>Название</th>
                <th width="1%">Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for subtype in subtypes %}
            <tr>
                <td>{{ subtype.name }}</td>
                <td>
                    {{ include('admin/layout/_edit_button.html.twig', {'route': 'subtype_edit', 'id': subtype.id}) }}
                    {{ include('admin/layout/_delete_button.html.twig', {'route': 'subtype_delete', 'id': subtype.id}) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Записей не найдено.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
