{% form_theme productForm 'common/form/_errors.html.twig' %}

<div class="modal-header">
    <h4 class="modal-title">{{ modalTitle|default('') }}</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span>×</span>
    </button>
</div>

<div class="modal-body">
    {{ modalBody|default('') }}
</div>

<div class="modal-footer">
    {{ modalFooter|default('') }}
</div>
