{% extends 'admin/layout/main_admin.html.twig' %}

{% block title %}Художники{% endblock %}

{% block body %}
<div class="content-heading">
    <div>Художники</div>
    <div class="ml-auto">
        <button id="artist_new" class="btn btn-sm btn-purple" type="button">
            <i class="fas fa-plus"></i> Добавить
        </button>
    </div>
</div>
<div class="row">
    <div class="col-12">

    <table class="table table-hover datatable">
        <thead>
            <tr>
                <th>Имя</th>
                <th width="1%">Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for artist in artists %}
            <tr>
                <td>{{ artist.name }}</td>
                <td>
                    {{ include('admin/layout/_edit_button.html.twig', {'route': 'artist_edit', 'id': artist.id}) }}
                    {{ include('admin/layout/_delete_button.html.twig', {'route': 'artist_delete', 'id': artist.id}) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Записей не найдено.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
</div>
{% endblock %}
